<section class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12" id="footertext">Site made in Strasbourg avec amour... N'hésite pas à nous contacter dès que tu fais fortune !</div>
    </div>
  </div>
</section>
